@font-face {
    font-family: Sketch;
    src: url("Sketch 3D.otf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1d;
}

p, li, label {
    color: #ddd;
    font-family: sans-serif;
    line-height: 1.25rem;
}

h1 {
    color: #18a178;
    text-align: center;
    margin: 1.5rem;
    font-family: Sketch, serif;
    font-size: 5rem;
}

h3 {
    color: #18a178;
    text-align: center;
}

figcaption {
    color: #ddd;
    font-weight: bold;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;

    display: grid;
    grid-template-areas:
        'name email-ico email phone-ico phone copyright';

    background-image: url("images/gradient.png");
    background-size: contain;
}

footer #name {
    grid-area: name;
    margin-left: 25px;
    padding-right: 25px;
}

footer #mail-ico {
    grid-area: email-ico;
    width: 25px;
    height: 25px;
    transition: transform .1s;
    justify-self: end;
}

footer #mail-ico:hover {
    transform: scale(1.25);
}

footer #mail {
    grid-area: email;
    padding-left: 10px;
    transition: transform .1s;
}

footer #phone-ico {
    grid-area: phone-ico;
    width: 25px;
    height: 25px;
    transition: transform .1s;
    justify-self: end;
}

footer #phone-ico:hover {
    transform: scale(1.25);
}

footer #footer-phone {
    grid-area: phone;
    padding-left: 10px;
}

footer #copyright {
    grid-area: copyright;
}

.indented {
    text-indent: 2em;
}

.content {
    margin: auto;
    padding: 25px;
    width: 45%;
    margin-bottom: 75px;
    text-align: justify;
    /* border: 1px solid red; */
}

@media all and (max-width: 1200px) {
    .content {
        width: 55%;
    }
}

@media all and (max-width: 700px) {
    .content {
        width: 65%;
    }
}

.image {
    text-align: center;
}

/* --- About Page --------------------------------------------------------- */

.about .content {
    display: grid;
    grid-template-areas:
        'section1 section1 pic1'
        'pic2 section2 section2'
        'video section2 section2';
    grid-gap: 2rem;
}

@media all and (max-width: 700px) {
    .about .content {
        display: grid;
        grid-template-areas:
        'section1 section1'
        'pic1 pic1'
        'section2 section2'
        'section2 section2'
        'pic2 pic2'
        'video video';
        grid-gap: 1rem;
    }
}

.about .section1 {
    grid-area: section1;
}

.about .pic1 {
    grid-area: pic1;
    height: auto;
    max-width: 100%;
}

.about .pic2 {
    grid-area: pic2;
    height: auto;
    max-width: 100%;
}

.about .section2 {
    grid-area: section2;
}

.about .video {
    grid-area: video;
    height: auto;
    max-width: 100%;
}

@media print {
    @page {
        size: auto;
        margin: 2.5cm;
    }

    .about {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        font-family: serif;
        margin: 0px;
    }

    .about nav {
        display: none;
    }

    .about img, .about video {
        display: none;
    }

    .about .content {
        display: inline;
    }

    .about .section1 {
        margin-bottom: 25px;
    }

    .about .section1 ul {
        list-style: none;
        display: block;
        padding: none;
    }

    ul li::before {
        content: "• ";
    }

    .about .section2 {
        column-count: 3;
    }
}

/* --- Project Page ------------------------------------------------------- */

.project .content {
    display: grid;
    grid-template-areas:
        'wtk nonrecmk'
        'math microdoc';
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
}

@media all and (max-width: 700px) {
    .project .content {
        display: grid;
        grid-template-areas:
        'wtk'
        'nonrecmk'
        'math'
        'microdoc';
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
    }
}

.project .thumbnail {
    width: 100%;
    height: auto;
}

.project a         { color: #ddd; }
.project a:link    { text-decoration: none; }
.project a:visited { text-decoration: none; }
.project a:hover   { text-decoration: none; }
.project a:active  { text-decoration: none; }

.project .wtk,
.project .nonrecmk,
.project .math,
.project .microdoc {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    transition: transform .1s;
}

.project .wtk:hover,
.project .nonrecmk:hover,
.project .math:hover,
.project .microdoc:hover {
    transform: scale(1.1);
}

.project .wtk       { grid-area: wtk; }
.project .nonrecmk  { grid-area: nonrecmk; }
.project .math      { grid-area: math; }
.project .microdoc  { grid-area: microdoc; }


/* --- Reflection Page ---------------------------------------------------- */

.reflection .content {
    display: grid;
    grid-template-areas:
    'pic1 pic2'
    'section1 section1'
    'pic3 pic3'
    'section2 section2'
    'pic4 pic5';
    grid-gap: 2rem;
}

@media all and (max-width: 700px) {
    .reflection .content {
        display: grid;
        grid-template-areas:
        'pic1'
        'pic2'
        'section1'
        'pic3'
        'section2'
        'pic4'
        'pic5';
        grid-gap: 1rem;
    }
}

.reflection .pic1 {
    grid-area: pic1;
    width: 25%;
    margin: 0 5%;
}

.reflection .pic2 {
    grid-area: pic2;
    width: 25%;
    margin: 0 5%;
}

.reflection .section1 {
    grid-area: section1;
}

.reflection .pic3 {
    grid-area: pic3;
    width: 30%;
}

.reflection .section2 {
    grid-area: section2;
}

.reflection .pic4 {
    grid-area: pic4;
    width: 25%;
    margin: 0 5%;
}

.reflection .pic5 {
    grid-area: pic5;
    width: 25%;
    margin: 0 5%;
}

/* --- Contact Page ---------------------------------------------------- */

.contact .content {
    display: grid;
    grid-template-areas:
        'form table';
        grid-column-gap: 20%;
}

@media all and (max-width: 900px) {
    .contact .content {
        grid-template-areas:
            'form'
            'table';
    }
}

.contact form {
    grid-area: form;
}

.contact #fname, .contact #lname, .contact #email, .contact textarea {
    width: 150%;
    height: 1.5rem;
    background-color: #ddd;
}

@media all and (max-width: 900px) {
    .contact #fname, .contact #lname, .contact #email, .contact textarea {
        width: 100%;
    }
}

.contact textarea {
    height: 10rem;
}

.contact #send {
    padding: 0 8px;
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.contact table {
    grid-area: table;
    text-align: left;
    color: #ddd;
    margin: auto 0 auto auto;
    height: 50%;
    width: 100%;
    border: 2px solid black;
}

.contact th {
    text-align: center;
}

.contact td {
    padding: 10px;
}

.contact tr:nth-child(odd) {
    background: rgb(92, 95, 117);
  }

.contact tr:nth-child(even) {
    background: rgb(59, 64, 85);
}